body {
  margin: 0px;
  background-color: #ccc;
}

#contenedor {
  width: 100%;
  background-color: #ccc;
  text-align: center;
}

#formularioPOI {
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

input, select, button {
  width: 125px;
  border-radius: 5px;
}

option[value=""][disabled] {
  display: none;
}

button {
  background-color: white;
}

hr {
  margin: 0px;
}

#map {
  height: 90vh;
  width: 100wh;
}

.marker {
  background-image: url('https://toppng.com/uploads/preview/eat-play-do-icon-map-marker-115548254600u9yjx6qhj.png');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}